* {
  text-decoration: none;
  font-family: roboto;
}

.barre_navigation_global {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 50px;
}

.barre_navigation_onglet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

a:hover,
button:hover {
  opacity: 0.5;
  cursor: pointer;
}

a {
  color: #00752F;
}

.active {
  color: white;
  background-color: #00752F;
  border-radius: 5px;
  padding: 5px;
}

.bouton_zoo {
  background-color: #00752F;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.centrer {
  display: flex;
  justify-content: center;
  margin: 25px;
  gap: 25px;
  flex-wrap: wrap;
}

.paragraphe {
  width: 600px;
  text-align: center;
}

.image_decouvrez {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.image_decouvrez:hover {
  opacity: 0.5;
  cursor: pointer;
}